/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


body {
	background: #E8E8E8;
	font-family: 'Open Sans', sans-serif;
}
*/

.contenedor {
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.form_form {
	min-width: 600px;
	margin: 70px 250px 250px 250px;
	background: #4a6b92;
	border-radius: 25px;
	padding: 40px;
	box-shadow: rgba(0, 0, 0, 1.6) 0px 1px 4px;
	text-align: center;
}

.form_form > div {
	margin-bottom: 20px;
}

.form_form label {
	display: block;
	font-weight: 100;
	font-size: 2rem;
	margin-bottom: 15px;
	color: #fafafa;
	font-family: 'Open Sans', sans-serif;
}

.form_form select {
	width: 32%;
	height: 1000%;
	font-size: 150%;
	border-radius: 5px;
	border: 2px solid #6d0f06;
	font-size: 1.4rem;
	padding: 10px;
	margin-bottom: 15px;
	margin-top: 5px;
}



.form_form textarea {
    font-family: 'Open Sans', sans-serif;
	width: 60%;
	border-radius: 5px;
	border: 2px solid #6d0f06;
	font-size: 18px;
	padding: 15px;
	margin-bottom: 15px;
	color: #1f1f1f;
}

.form_form textarea:focus {
	outline: none;
	border: 2px solid #0085FF;
}



.form_form h1 {
	font-family: 'Open Sans', sans-serif;
	color: #fafafa;	
	display: block;
	
}


.form_form input 
 {
	font-family: 'Open Sans', sans-serif;
	width: 30%;
	border-radius: 5px;
	border: 2px solid #6d0f06;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.form_form input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.form_form .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.form_form button[type="submit"] {
	display: flexbox;
	background: #0085FF;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 30%;
    height: 15%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 1.6rem;
	transition: .3s ease all;
}

.form_form button[type="submit"]:hover {
	background: #0051ff;
}

.form_form .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
}

.form_form input[type="radio"] {
	width: auto;
}