.gestiones,
.arquitectura,
.informatica,
.marketing {
  width: 100.5%;
  background: linear-gradient(55deg, #096894 10%, #2d296a 65%);

  color: rgb(209, 216, 226);
  justify-content: center;
  align-items: center;
  text-align: justify;

  font-family: 'Arial', 'sans-serif', 'Open Sans';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7em;
}

.body-texto{
  margin: 5% 4% 7% 4%;
  font-family: 'Open Sans', sans-serif;
}

.body-texto2{
  margin: 30% 4% 10% 4%;
  font-family: 'Open Sans', sans-serif;
}

.col-md-12 {
  padding: 6% 4% 20% 2%;
  height: 40%;
}

.title{
  width: 96%;
  text-align: center;
  margin: 5% 0% 3% 5%;
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
}

.pic-orientation{
	margin: 0% 0% 0% 0%;
}

/*

.gestiones {
  background-image: url('./images/img-5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.arquitectura {
  background-image: url('./images/img-7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.marketing {
  background-image: url('./images/img-5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}



.informatica {
  background-image: url('./images/img-7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}*/